<template>
  <div>
    <div v-if="pageData">
      <Checklist :data="pageData.checklist" v-if="pageData.checklist" />
      <Select :data="pageData.select" v-if="pageData.select" />
      <Photo :key="pageData.title" :data="pageData.photo" v-if="pageData.photo" />
      <CPR :data="pageData.cpr" v-if="pageData.cpr" />
      <Emergency :data="pageData.emergency" v-if="pageData.emergency" />
    </div>
  </div>
</template>

<script>
import pagesList from './PagesList.json';
import Checklist from './childs/Checklist.vue';
import Select from './childs/Select.vue';
import Photo from './childs/Photo.vue';
import CPR from './childs/CPR.vue';
import Emergency from './childs/Emergency.vue';

export default {
  name: 'MainFactory',
  props: ['id'],
  components: {
    Checklist,
    Select,
    Photo,
    CPR,
    Emergency
  },
  data() {
    return {
      pageData: null,
    }
  },
  created() {
    this.page = null;
    this.pageData = pagesList
      .find(page => page.id == this.id);
  },
  watch: {
    '$route.params.id': function () {
      this.page = null;
      this.pageData = pagesList
        .find(page => page.id == this.id);
    }
  },
}
</script>