body {
  color: #666;
  font-family: 'arial', Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: initial;
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  font-weight: 700;
  color: $primary;
}

h2 {
  margin-bottom: 15px;
}

p {
  display: block;
  margin-bottom: 10px;
}

.btn {
  color: $primary;
  font-weight: bold;
  &--arrow {
    font-size: 16px;
  }
}

.red-header {
  font-size: 20px;
  font-weight: 600;
  color: $primary;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
}