<template>
  <div class="row category__row">
    <div class="columns small-4 category__center">
      <router-link :to="subcategory ? `/prezentacje/${category.id}` : `/wiedza/${category.slug}`">
        <img :src="`/svg/${category.icon}.svg`" class="category__icon" :alt="category.name">
      </router-link>
    </div>
    <div class="columns small-8 category__title">
      <router-link :to="subcategory ? `/prezentacje/${category.id}` : `/wiedza/${category.slug}`">{{ category.name }}</router-link>
    </div>
  </div>
</template>
<script>
export default {
  props: ['category', 'subcategory'],
  name: 'CategoryRow'
}
</script>
<style lang="scss">
.category {
  &__row {
    margin-top: 30px;
  }

  &__icon {
    height: 50px;
    max-width: 80%;
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
  }

  &__center {
    display: flex;
    justify-content: center;
  }
}
</style>