<template>
  <div class="game">
    <div v-if="active <= currentQuestionsSet.questions.length - 1">
      <div class="row">
        <div class="columns small-12">
          <div class="game__steps">
            <div v-for="(el, index) in currentQuestionsSet.questions" :key="index" class="game__el" :class="{ 'game__el--active' : active === index}">
              <h2 class="red-header">{{ el.question }}</h2>
              <ul class="game__questions">
                <li v-for="(question, i) in el.answers" :key="i">
                  <div class="radio" @click="passValue(i)" :class="{ 'radio--valid' : next && question.valid, 'radio--invalid' : next && !question.valid }">
                    <input type="radio" :id="`radio-${el.id}-${i}`" :value="i" :name="`radio`">
                    <label :for="`radio-${el.id}-${i}`" v-html="question.content"></label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="columns small-12">
          <div class="game__btns">
            <button class="button fill green game__btn" @click="checkAnswer" v-if="active <= currentQuestionsSet.questions.length - 1">{{ next ? 'Dalej' : 'Sprawdź'}}<img src="/svg/white-arrow.svg" alt=""></button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="row">
        <div class="columns small-12">
          <div class="game__points">{{ `${points}/4` }}<br> punktów</div>
        </div>
        <div class="columns small-12">
          <h2 class="red-header" v-html="points > 3 ? 'Jest super!' : 'Musisz jeszcze trochę powiczyć'"></h2>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import quizJSON from './../../../quiz/quiz.json';
export default {
  name: 'Game',
  props: ['id'],
  data() {
    return {
      quizData: quizJSON,
      currentQuestionsSet: null,
      active: 0,
      next: false,
      points: 0,
      currentSelection: true
    }
  },
  created() {
    this.setCurrentQuiz()
  },
  methods: {
    setCurrentQuiz() {
      this.currentQuestionsSet = this.quizData.quiz.filter(el => {
        return el.id === parseInt(this.id, 10);
      })[0];
    },
    checkAnswer() {
      if (this.next) {
        if (this.chceckIfPoint) {
          this.points = this.points + 1
        }
        this.currentSelection = false
        this.active = this.active + 1;
        this.next = false;
      } else {
        this.next = true
      }
    },
    passValue(value) {
      this.currentSelection = value
    }
  },
  computed: {
    chceckIfPoint() {
      return this.currentQuestionsSet.questions[this.active].answers[this.currentSelection] ? this.currentQuestionsSet.questions[this.active].answers[this.currentSelection].valid || false : false
    },
  }
}
</script>
<style lang="scss">
.game {
  padding-bottom: 50px;

  &__questions {
    list-style: none;
  }

  &__photo {
    width: 100%;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
  }

  &__page {
    font-weight: 600;
    color: $primary;
    margin: 20px 0;
  }

  &__content {
    color: black;
    font-size: 16px;
    line-height: 1.2;
    min-height: 20vh;
  }

  &__el {
    display: none;

    &--active {
      display: block;
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
  }

  &__btn {
    width: 40vw;
  }

  &__back {
    display: flex;
    height: 63px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  &__points {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
  }
}
</style>