<template>
  <div class="knowlagde">
    <div class="row">
      <h2 class="red-header">Wybór kategorii</h2>
    </div>
    <div v-for="category in quizData.categories" :key="category.name">
      <CategoryRow :category="category" />
    </div>
    <div class="row category__row">
    <div class="columns small-4 category__center">
      <router-link to="/places">
        <img :src="`/svg/maps.svg`" class="category__icon" alt="Mapy">
      </router-link>
    </div>
    <div class="columns small-8 category__title">
      <router-link to="/places">Mapa szpitali i defibrylatorów</router-link>
    </div>
  </div>
  </div>
</template>
<script>
import quizJSON from './../../../quiz/categories.json';
export default {
  name: 'Knowladge',
  data() {
    return {
      quizData: quizJSON,
    }
  }
}
</script>
<style lang="scss" scoped>
.knowlagde {
  margin-top: 60px;
}
</style>