<template>
  <div class="infos">
    <div class="row">
      <h2 class="red-header">{{ currentSlides.name }}</h2>
    </div>
    <div class="row">
      <div class="columns small-12">
        <ul class="infos__list">
          <li v-for="(el, index) in currentSlides.slides" :key="index" class="infos__el" :class="{ 'infos__el--active' : active === index}">
            <div v-if="index === active">
              <div class="infos__photo" :style="`background-image: url(/img/slides/${id}/${index + 1}.JPG)`"></div>
              <p class="infos__page" v-html="`Krok ${active + 1} / ${currentSlides.slides.length}`"></p>
              <div class="infos__content">{{ el.content }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12">
        <div class="infos__btns">
          <div>
            <button @click="active = active - 1" class="infos__back infos__btn" v-if="active > 0"><img src="/svg/black-arrow.svg" alt=""> Wstecz</button>
          </div>
          <div>
            <button class="button fill green arrow-left infos__btn" @click="active = active + 1"  v-if="active < currentSlides.slides.length - 1">Dalej <img src="/svg/white-arrow.svg" alt=""></button>
            <router-link class="button fill green infos__btn" :to="`/quiz/${id}`" v-if="active === currentSlides.slides.length - 1">Quiz</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import slidesJSON from './../../../quiz/slides.json';
export default {
  name: 'Slides',
  props: ['id'],
  data() {
    return {
      slidesData: slidesJSON,
      currentSlides: null,
      active: 0
    }
  },
  created() {
    this.setCurrentSlides()
  },
  methods: {
    setCurrentSlides() {
      this.currentSlides = this.slidesData.slides.filter(el => {
        return el.id === parseInt(this.id, 10);
      })[0];
    }
  }
}
</script>
<style lang="scss">
.infos {
  padding-bottom: 50px;

  &__photo {
    width: 100%;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
  }

  &__page {
    font-weight: 600;
    color: $primary;
    margin: 20px 0;
  }

  &__content {
    color: black;
    font-size: 16px;
    line-height: 1.2;
    min-height: 20vh;
  }

  &__el {
    display: none;

    &--active {
      display: block;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__btn {
    width: 40vw;
  }

  &__back {
    display: flex;
    height: 63px;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
}
</style>