<template>
  <div class="subcategory">
    <div class="row">
      <h2 class="red-header">Wybór kategorii</h2>
    </div>
    <div v-for="category in currentCategory.subcategories" :key="category.name">
      <CategoryRow :category="category" :subcategory="true" />
    </div>
  </div>
</template>
<script>
import quizJSON from './../../../quiz/categories.json';
export default {
  name: 'Subcategory',
  props: ['slug'],
  data() {
    return {
      quizData: quizJSON,
      currentCategory: null
    }
  },
  created() {
    this.setCurrentCategory()
  },
  methods: {
    setCurrentCategory() {
      this.currentCategory = this.quizData.categories.filter(el => {
        return el.slug === this.slug
      })[0]
    }
  }
}
</script>
<style lang="scss" scoped>
.subcategory {
  padding-bottom: 50px;
}
</style>