<template>
  <div>
    <Map />
    <div class="wrap">
      <a class="button fill green" href="tel:112">Zadzwoń po pomoc (112)</a>
      <router-link :to="'/co-robic/1'" class="button red" style="margin-bottom: 50px">
        Co robić?
      </router-link>
    </div>
  </div>
</template>

<script>
import Map from '@/components/Map.vue'

export default {
  name: 'Index',
  components: {
    Map,
  },
}
</script>

<style lang="scss">
.wrap {
  padding: 0 10px;

  &.two-buttons {
    display: flex;
    justify-content: space-between;

    & > * {
      width: 48.5%;
    }
  }
}
.button {
  display: flex;
  height: 63px;
  font-size: 24px;
  font-weight: bold;
  color: #D81E04;
  border: 2px solid #D81E04;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  &.arrow-right::after {
    position: absolute;
    right: 30px;
    font-family: FontAwesome;
    content: "\f105";
    font-size: 40px;
  }

  &.arrow-left::after {
    position: absolute;
    left: 30px;
    font-family: FontAwesome;
    content: "\f104";
    font-size: 40px;
  }

  &.green {
    color: #8BE084;
    border-color: #8BE084;

    &.fill {
      color: white;
      background-color: #8BE084;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
</style>
