<template>
  <div class="mapa">
    <img src="/img/grupa.png" usemap="#image-map">

    <map name="image-map">
        <area target="" alt="Pomoc" title="Pomoc" href="/pomoc" coords="134,556,241,557,241,653,134,654" shape="poly">
        <area target="" alt="Wiedza" title="Wiedza" href="/wiedza" coords="252,559,253,653,363,655,363,559" shape="poly">
    </map>
  </div>
</template>

<style lang="scss">
.mapa {
  img, map {
    max-width: 375px;
    margin: 0 auto;
  }
}
</style>