<template>
  <div class="places">
    <div id="map-container"></div>
  </div>
</template>

<script>
import aed from '../../aed/aed.json'
import sor from '../../sor/sor.json'
import gmaps from '../plugins/google-maps'

export default {
  name: 'Places',
  data() {
    return {
      aed: aed,
      sor: sor,
      error: null
    }
  },
  async mounted() {
    const google = await gmaps()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        // eslint-disable-next-line
        const geocoder = new google.maps.Geocoder()
        const latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
        const map = new google.maps.Map(document.getElementById('map-container'), {
          zoom: 13,
          center: latLng,
          disableDefaultUI: true
        })

        const markers = this.aed.map(item => {
          const marker = new google.maps.Marker({
            position: new google.maps.LatLng(item.Lat, item.Lng),
            map: map,
            icon: 'img/icons/aed.png'
          })
          google.maps.event.addListener(marker, 'click', () => {
            window.location.href = `https://www.google.com/maps/dir/?api=1&destination=${item.Lat},${item.Lng}`
          })
          return marker
        })

        this.sor.map(item => {
          const marker = new google.maps.Marker({
            position: item.position,
            map: map,
            icon: 'img/icons/sor.png'
          })
          const infoWindow = new google.maps.InfoWindow({
              content: item.label + `<br><a href="https://www.google.com/maps/dir/?api=1&destination=${item.position.lat},${item.position.lng}" class="button">Prowadź do placówki</a>`
            })
            google.maps.event.addListener(marker, 'click', () => {  
              infoWindow.open(map, marker);
            })
          return marker
        })

        // eslint-disable-next-line
        let markerCluster = new MarkerClusterer(map, markers, {
          imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        })
      }, (error) => {
        this.error = error
      }, {
        enableHighAccuracy: true,
        timeout: 5000
      });    
    } else {
      this.error = 'Geolocation is not supported by this browser.'
    }
  }
}
</script>

<style scoped lang="scss">
#map-container {
  width: 100%;
  height: 100%;
}
</style>