<template>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, accusantium! Quos mollitia eius distinctio sapiente laborum est. Similique, dignissimos. Qui perspiciatis possimus similique illum? Obcaecati iure natus eaque placeat vitae.</p>
    <img :src="QRCodeSrc" alt="" style="width: 512px">
  </div>
</template>

<script>
import QRCode from 'qrcode'

export default {
  name: 'QR',
  data() {
    return {
      QRCodeSrc: null
    }
  },
  mounted() {
    QRCode.toDataURL('https://hackyeah.beskido.com/', {
      width: 512
    }).then(src => {
      this.QRCodeSrc = src
    })
  }
}
</script>