<template>
  <audio ref="audioElement">
    <source :src="fileName" type="audio/mpeg">
  </audio>
</template>

<style lang="scss" scoped>
audio {
  display: none;
}
</style>

<script>
export default {
  props: ['fileName', 'emitIterations', 'interval', 'name'],
  data() {
    return {
      breakPlaying: false
    }
  },
  methods: {
    startPlaying() {
      this.breakPlaying = false;

      const file = this.$refs.audioElement;
      file.load();

      this.$nextTick(() => {
        for (let i = this.emitIterations; i > 0; i--) {
          setTimeout(() => {
            this.playSound();
            this.$emit('beeper-interval', this.name, i);

            if (i === this.emitIterations) {
              this.$emit('beeper-finished', this.name);
            }
          }, this.interval * i)
        }
      })
    },
    stopPlaying() {
      this.breakPlaying = true;
    },
    playSound() {
      if (!this.breakPlaying) {
        const file = this.$refs.audioElement;
        file.load();
  
        setTimeout(function() {
          file.play().catch(() => {
            file.play();
          });
        }, 50); // Workaround to wait for file.load to be done
      }
    }
  }
}
</script>