<template>
  <div class="cpr-component">
    <div class="user-info" :class="`user-info--${currentPhase}`">
      <div class="user-info__circle" :style="{ 'background-color': currentPhaseObject.color }">
        <h3>{{ currentPhaseObject.iterationsLeft }}</h3>
      </div>
      <h3 class="user-info__header" :style="{ 'color': currentPhaseObject.color }">
        {{ currentPhaseObject.text }}
      </h3>
    </div>
    <div class="sound">
      <BeeperComponent 
        ref="pushBeeper" 
        name="push" 
        :file-name="push.sound" 
        :emit-iterations="push.iterations" 
        :interval="push.intervalTimeout" 
        @beeper-finished="beepingDone"
        @beeper-interval="beeperInterval"
      />
      <BeeperComponent 
        ref="breatheBeeper" 
        name="breathe" 
        :file-name="breathe.sound" 
        :emit-iterations="breathe.iterations" 
        :interval="breathe.intervalTimeout" 
        @beeper-finished="beepingDone"
        @beeper-interval="beeperInterval"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@keyframes pulse {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.user-info {
  $self: &;
  text-align: center;

  &__circle {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    h3 {
      font-size: 70px;
      color: #fff;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 15px;
  }

  &--push {
    #{$self}__circle {
      animation: pulse 660ms infinite;
    }
  }

  &--breathe {
    #{$self}__circle {
      animation: pulse 2000ms infinite;
    }
  }
}
.sound {
  display: none;
}
</style>

<script>
import BeeperComponent from '@/components/BeeperComponent.vue';

export default {
  components: {
    BeeperComponent
  },
  data() {
    return {
      currentPhase: 'push',
      breakBetweenPhases: 1000,
      push: {
        sound: 'sound/push.mp3',
        intervalTimeout: 700,
        iterations: 30,
        iterationsLeft: 30,
        text: 'Uciskaj',
        longText: 'Wykonuj uciśnięcia klatki piersiowej zgodnie ze wskazaniami aplikacji',
        color: '#D81E04',
      },
      breathe: {
        sound: 'sound/breathe.mp3',
        intervalTimeout: 2000,
        iterations: 2,
        iterationsLeft: 2,
        text: 'Wdech',
        longText: 'Wykonuj wdechy zgodnie ze wskazaniami aplikacji',
        color: '#04AFD8'
      }
    }
  },
  mounted() {
    this.$refs.pushBeeper.startPlaying();
  },
  computed: {
    currentPhaseObject() {
      return this[this.currentPhase]
    },
  },
  methods: {
    beepingDone(name) {
      setTimeout(() => {
        if (name === 'breathe') {
          this.currentPhase = 'push';
          this.push.iterationsLeft = this.push.iterations;
          this.$refs.pushBeeper.startPlaying();
          this.$emit('new-text', this.currentPhaseObject.longText);
        } else {
          this.currentPhase = 'breathe';
          this.breathe.iterationsLeft = this.breathe.iterations;
          this.$refs.breatheBeeper.startPlaying();
          this.$emit('new-text', this.currentPhaseObject.longText);
        }
      }, this.breakBetweenPhases)
    },
    beeperInterval(name, interval) {
      this.$set(this[name], 'iterationsLeft', this[name].iterations - interval)
    }
  }
}
</script>