<template>
  <header class="expanded row">
    <div class="columns small-2">
      <router-link to="/" class="btn btn--arrow">
        <img class="back" src="/img/icons/wroc.png" />
      </router-link>
    </div>
    <div class="columns small-8 text-center">
      <h1>{{ $route.meta.headerText }}</h1>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style lang="scss" scoped>
header {    
  height: 45px;
  padding: 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  flex-shrink: 0;
  align-items: center;
  border-bottom: 1px solid rgb(217,217,217);
}
.back {
  height: 21px;
}
h1 {
  font-size: 15px;
}
</style>