<template>
  <div class="map">
    <div id="map-container"></div>
    <div class="legend wrap">
      <h2>Lokalizacja 
        <span style="font-size: .8em">(dokładność&nbsp;{{(accuracy + '').substring(0, 4)}}m)</span>
      </h2>
      <p>Długość (latitude): <strong>{{ (coords.lat + '').substring(0, 10) }}</strong></p>
      <p>Szerokość (longitude): <strong>{{ (coords.lng + '').substring(0, 10) }}</strong></p>
      <h2>Najbliższy adres</h2>
      <p>{{ address }}</p>
    </div>
  </div>
</template>

<script>
import gmaps from '../plugins/google-maps'

export default {
  name: 'Map',
  data() {
    return {
      map: null,
      coords: {
        lat: 52.112309,
        lng: 20.829588
      },
      address: null,
      accuracy: null,
      error: null
    }
  },
  async mounted() {
    const google = await gmaps()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        // eslint-disable-next-line
        const geocoder = new google.maps.Geocoder()
        this.coords.lat = position.coords.latitude
        this.coords.lng = position.coords.longitude
        this.accuracy = position.coords.accuracy
        const latLng = new google.maps.LatLng(this.coords.lat, this.coords.lng)
        this.map = new google.maps.Map(document.getElementById('map-container'), {
          zoom: 17,
          center: latLng,
          disableDefaultUI: true
        })
        // eslint-disable-next-line
        const marker = new google.maps.Marker({ 
          position: latLng,
          map: this.map
        })

        geocoder.geocode({
          'location': latLng
        }, (results, status) => {
          if (status === 'OK') {
            this.address = results[0].formatted_address
          }
        })
        
      }, (error) => {
        this.error = error
      }, {
        enableHighAccuracy: true,
        timeout: 5000
      });    
    } else {
      this.error = 'Geolocation is not supported by this browser.'
    }
  }
}
</script>

<style scoped lang="scss">
#map-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.map-accuracy {
  margin-top: 30px;
  text-align: center;
}
.map {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.legend {
  margin: 30px 0;
}
</style>
