<template>
  <div class="checklist">
    <div class="row">
      <div class="columns small-12">
        <h2 class="red-header">{{ headerText }}</h2>
        <CPRComponent @new-text="changeText" />
      </div>
    </div>
    <div class="wrap">
      <router-link :to="data.yes.href" v-if="data.yes" class="button green fill uppercase">
          {{ data.yes.label }}
      </router-link>
    </div>
  </div>
</template>

<script>
import CPRComponent from '@/components/CPRComponent.vue';

export default {
  name: 'CPR',
  props: ['data'],
  components: {
    CPRComponent
  },
  data() {
    return {
      headerText: 'Wykonuj uciśnięcia zgodnie ze wskazaniami aplikacji'
    }
  },
  methods: {
    changeText(text) {
      this.headerText = text;
    }
  }
}
</script>

<style lang="scss" scoped>
.red-header {
  margin: 60px 0;
}
.button {
  margin-top: 30px;
}
</style>