<template>
  <div class="emergency">
    <Map />
    <div class="wrap">
      <a class="button fill green" href="tel:112">Zadzwoń po pomoc (112)</a>
       <router-link :to="data.next.href" v-if="data.next" class="button red">
          {{ data.next.label }}
      </router-link>
    </div>
    <div class="text-center">
      <p><strong>Podczas gdy Ty będziesz dzwonił na 112, osoba obok może rozpocząć reanimację, pokaż jej ten kod QR.</strong></p>
      <img :src="QRCodeSrc" alt="" style="width: 128px">
    </div>
  </div>
</template>

<script>
import Map from '@/components/Map.vue'
import QRCode from 'qrcode'

export default {
  name: 'Emergency',
  props: ['data'],
  components: {
    Map
  },
  data() {
    return {
      QRCodeSrc: null
    }
  },
  mounted() {
    QRCode.toDataURL('https://hackyeah.beskido.com/co-robic/cpr', {
      width: 128
    }).then(src => {
      this.QRCodeSrc = src
    })
  }
}
</script>

<style lang="scss" scoped>
.map-container {
  display: none;
}
</style>