<template>
  <div class="checklist">
    <div class="row">
      <div class="columns small-12">
        <div class="text-center">
          <img :src="data.photoUrl" v-if="data.photoUrl" />
        </div>
        <h2 class="red-header">{{ data.title }}</h2>
        <p v-html="data.text" style="text-align: center; padding-top: 15px; font-size: 20px;"></p>
      </div>
    </div>
    <div class="wrap">
      <h2 class="red-header">{{ data.question }}</h2>
      <router-link :to="data.prev.href" v-if="data.prev" class="button red">
          {{ data.prev.label }}
      </router-link>
      <router-link :to="data.next.href" v-if="data.next" class="button red">
          {{ data.next.label }}
      </router-link>

      <router-link :to="data.yes.href" v-if="data.yes" class="button green fill uppercase">
          {{ data.yes.label }}
      </router-link>
      <router-link :to="data.no.href" v-if="data.no" class="button red uppercase">
          {{ data.no.label }}
      </router-link>
    </div>
  </div>
</template>

<script>
import VoiceSynthesis from '@/plugins/voice-synthesis.js';

export default {
  name: 'Photo',
  props: ['data'],
  mounted() {
    let msg = '';

    if (this.data.title) {
      msg += ' ' + this.data.title;
    }

    if (this.data.text) {
      msg += ' ' + this.data.text;
    }

    if (this.data.question) {
      msg += ' ' + this.data.question;
    }

    const informAboutHealth = new VoiceSynthesis(msg);
    informAboutHealth.sayMessage();
  }
}
</script>

<style lang="scss" scoped>
.checklist {
  img {
    width: 100%;
    margin: 5px 0 0 0;
  }
}
.red-header {
  margin: 30px 0;
  font-size: 1.5em;
}
.questions {
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
}
.checkbox {
  position: relative;
  margin-top: 15px;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
  }
  label {
    position: relative;
    display: inline-block;
    padding-left: 45px;
    cursor: pointer;
    color: #000000;
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #ffffff;
      border: 2px solid $primary;
    }
  }
  input[type="checkbox"]:checked + label::after {
    content: 'X';
    color: $primary;
    position: absolute;
    left: 7px;
    top: 1px;
    font-weight: bold;
  }
}

.radio {
  position: relative;
  margin-top: 15px;
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
  }
  label {
    position: relative;
    display: inline-block;
    padding-left: 45px;
    cursor: pointer;
    color: #000000;
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #ffffff;
      border: 2px solid $primary;
      border-radius: 50%;
    }
  }
  input[type="radio"]:checked + label::before {
   background: $primary;
  }
}
</style>