<template>
  <div id="app">
    <Header />
    <router-view class="body"/>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  }
}
</script>

<style scoped>
#app {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.body {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 45px;
}
</style>