@import 'vendors/module';
@import 'imports';
@import 'base/module';


.radio {
  position: relative;
  margin-top: 15px;
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
  }
  label {
    position: relative;
    display: inline-block;
    padding-left: 45px;
    cursor: pointer;
    color: #000000;
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #ffffff;
      border: 2px solid $primary;
      border-radius: 50%;
    }
  }
  input[type="radio"]:checked + label::before {
   background: $primary;
  }

  &--valid {
    pointer-events: none;
    label {
      color: green;
      font-weight: 600;

      &::before {
        border-color: green;
      }
    }
    input[type="radio"]:checked + label::before {
      background: green;
      border-color: green;
    }
  }

  &--invalid {
    pointer-events: none;
    label {
    color: $primary;
    font-weight: 600;
    }
  }
}