<template>
  <div class="cpr">
    <div class="row">
      <h2 class="red-header">{{ headerText }}</h2>
    </div>
    <CPRComponent @new-text="changeText" />
  </div>
</template>

<script>
import CPRComponent from '@/components/CPRComponent.vue';

export default {
  components: {
    CPRComponent
  },
  data() {
    return {
      headerText: 'Wykonuj uciśnięcia zgodnie ze wskazaniami aplikacji'
    }
  },
  methods: {
    changeText(text) {
      this.headerText = text;
    }
  }
}
</script>